{% extends 'webapp/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
<h1>welcome to the dashboard page {{user}} 🙂 </h1>
<br>
<a class="btn btn-outline-secondary" href="{% url 'create-record' %}">Create a new record &nbsp; <i class="fa fa-user" aria-hidden="true"></i></a>
<br>
<hr>
<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">no of pepole</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">phone number</th>
      <th scope="col">email adress</th>
      <th scope="col">city</th>
      <th scope="col">view</th>
    </tr>
  </thead>
  
  <tbody>
    {% if records %}
    {% for record in records %}
    <tr>
      
      <th scope="row">{{record.id}}</th>
      <td>{{record.first_name}}</td>
      <td>{{record.last_name}}</td>
      <td>{{record.email}}</td>
      <td>{{record.phone}}</td>
      <td>{{record.city}}</td>
      <td><a href="{% url 'view-record' record.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

</body>

{% endblock %}