<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/564x/23/6c/3a/236c3a546cb4ec424c205deaf9272f17.jpg" alt="" width="35" height="29" class="d-inline-block align-text-top">
           Album Flower
      </a>
    
    <form class="d-flex">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Register </a>
          </li>
        </ul>
      </div>
     
    </form>
   
  </nav>